<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>csrf demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="jquery.js"></script>
</head>

<body>
sadas
<script>
	$.ajax({
        type : "get",
        url:'/ajax-get?val=haha'
	});
</script>

</body>
</html>